flask
flask-cors
numpy
pandas
scikit-learn
shap>=0.44.0
matplotlib
joblib
PyMuPDF
python-dotenv
openai
google-auth==2.38.0
google-genai==1.9.0
google-generativeai
huggingface-hub
sentence-transformers
faiss-cpu
tqdm
langchain>=0.1.14
langchain-community