flask
flask-cors
numpy
pandas
scikit-learn
shap>=0.44.0
matplotlib
joblib
PyMuPDF
python-dotenv
openai
google-auth==2.38.0
google-generativeai==1.9.0
huggingface-hub
sentence-transformers[cpu]
faiss-cpu
tqdm
langchain>=0.1.14
langchain-community

